.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 50%;
    aspect-ratio: 2/2;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.loader {
    color: white;
}