.container {
    height: 100dvh;
    width: 100vw;
    background-image: url("https://res.cloudinary.com/dqdysl9ep/image/upload/v1698665310/component-block-auth/windows11-wallpaper_c8c5wt.jpg");
    background-size: cover;
}