/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
:root {
  --bg-image-light: url("https://res.cloudinary.com/dqdysl9ep/image/upload/v1698665310/component-block-auth/windows11-wallpaper_c8c5wt.jpg");
  --bg-image-dark: url("https://res.cloudinary.com/dqdysl9ep/image/upload/v1698671511/component-block-auth/windows11-dark_ngdema.jpg");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100dvh;
  width: 100vw;
  font-family: 'Bricolage Grotesque', sans-serif;
  cursor: url("https://res.cloudinary.com/dqdysl9ep/image/upload/v1698675134/component-block-auth/navigate_2_cv6doa.png"), auto;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}